@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  margin: 20px;
}

html,
body {
  height: 100%;
}
main {
  padding-top: 150px;
}

.bg-bg-img {
  /* background-image: url('/client/styles/images/bg-1.jpeg'); */
  /* background-color: #003366; */
  /* color: white; */
  background-color: #f2f2f2;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Ensures the div covers at least the viewport height */
}

/* styles.css */
.bg-opacity {
  position: relative;
}

.bg-opacity::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(
    128,
    128,
    128,
    0.1
  ); /* Adjust the background color and opacity */
  z-index: 0; /* Ensures the background is behind the content */
}

.bg-opacity > li {
  position: relative;
  z-index: 1; /* Ensures the list items are above the background */
}

.bg-opacity > li > span {
  position: relative;
  z-index: 2; /* Ensures the text is above the list items */
}

/* .returned-date::after {
  content: '❕';
}*/

.nav {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: #003366;
  color: #f2f2f2;
}
